<section class="myform-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="form-area login-form">
                    <div class="form-content">
                        <h2>Login</h2>
                        <p>Welcome To Notes,Let's Start The Notes</p>
                    </div>
                    <div class="form-input">
                        <h2>Login Form</h2>
                        <form>
                            <div class="form-group">
                                <input type="text"  [(ngModel)]="username" id="" name="name" required>
                                <label>User Name</label>
                            </div>
                            <div class="form-group">
                                <input type="password" [(ngModel)]="password" id="" name="password" required>
                                <label>password</label>
                            </div>
                            <div class="myform-button">
                                <button class="myform-btn" (click)="redirect(username,password)">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>